<div class="content mt-5">
    <div class="container">
        <div class="row">
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title m-0">Featured</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Name: {{ user?.name }}</h6>
                        <p class="card-text">Email: {{ user?.email }}</p>
                        <p class="card-text">CreatedAt: {{ user?.created_at }}</p>
                        <a routerLink="/logout" class="btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>