<div class="content mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="card-title m-0">Log Out</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Logged out From All Device?</p>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="checkbox" [(ngModel)] = "checkbox" name="allDevices">
                            </div>
                        </div>
                        <button (click)="logout()" class="btn btn-info">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
